@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<label>Your preferred programming language: </label>
<select>
    <option value="a">asp</option>
    <option value="c">c</option>
    <option value="cpp">c++</option>
    <option value="cf">coldfusion</option>
    <option value="g">groovy</option>
    <option value="h">haskell</option>
    <option value="j">java</option>
    <option value="js">javascript</option>
    <option value="p1">perl</option>
    <option value="p2">php</option>
    <option value="p3">python</option>
    <option value="r">ruby</option>
    <option value="s">scala</option>
</select>
<script>
    $("select").combobox();
</script>